body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    width: 100%;
    font-family: Helvetica, arial, sans-serif;
}



.bg-black img {
    width: 100px;
    padding: 12px 0px;
    margin: 0px 41px;

}

.bg-black {
    background-color: black;
}

.navbar-nav {
    gap: 16px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.chevron{
    width: 10px;
    height: auto;
}

.gray-arrow:hover , .blue-arrow {
    display: none;
}

.gray-arrow:hover + .blue-arrow{
    display: inline-block;
}

.lens-icon {
    width: 25px;
    height: auto;
}

.btn_dark {
    background-color: #363636;
    color: white;
    border-radius: 25px;
}

.btn_dark:hover {
    background-color: white;
    border: 1px solid #363636;
}

.btn:focus {
    box-shadow: none;
}

.jumbotron-container {
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron-background {
    background-image: url(../img/jumbo-bg.png);
}

.m-left {
    margin-left: 1%;
}

.returnal {
    min-width: 300px;
}

.btn-danger {
    border-radius: 30px;
}

#play-banner {
    margin: 20px;
    width: 75%;
    border-radius: 20px;
}

.border-blue {
    padding: 3px;
    border: 1px solid blue;
}