body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    height: 10000px;
}

header {
    width: 100%;
    font-family: Helvetica, arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

main {
    margin-top: 118px;
}

.bg-black img {
    width: 100px;
    padding: 12px 0px;
    margin-right: 2%;
}

.bg-black {
    background-color: black;
}

.navbar-nav {
    gap: 16px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.chevron{
    width: 10px;
    height: auto;
}

.gray-arrow:hover , .blue-arrow {
    display: none;
}

.gray-arrow:hover + .blue-arrow{
    display: inline-block;
}

.lens-icon {
    width: 25px;
    height: auto;
}

.btn-dark {
    border-radius: 25px;
}

.btn-dark:hover {
    background-color: #363636;
}

.btn:focus {
    box-shadow: none;
}

.jumbotron-container {
    height: 700px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.returnal-jumbotron-background {
    background-image: url(../img/jumbo-bg.png);
}

.m-left {
    margin-left: 1%;
}

.returnal {
    min-width: 300px;
}

.btn-danger,
.btn-primary{
    border-radius: 30px;
}

.play-banner {
    margin: 8%;
    width: 90%;
    border-radius: 25px;
    padding: 3px;
    border: 3px solid white;
}

.play-banner:hover {
    padding: 3px;
    border: 3px solid #0072ce;
}

.m-top {
    margin-top: 2%;
}

.here-play-5 {
    margin-top: 10%;
}

.no-limits {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3em;
    color: #0072ce; 
}

.no-limits-title,
.card-title {
    font-size: 3.2rem;
    font-weight: 600;
}

.no-limits-subtitle,
.card-text {
    margin-top: 3.5%;
    font-size: 1.5rem;
    font-weight: 600;
    color: #787878;
}

.console-ps5 {
    margin-top: 5%;
}

.card {
    border: none;
}

.console-ps5-image img {
    width: 100%;
}

.single-product {
    opacity: 0.7;
    border-bottom: 3px solid #ffffff;
}

.img-thumb {
    margin: auto;
    width: 40%;
}

.single-product:hover {
    opacity: 1;
    border-bottom: 3px solid #0072ce;
}

.bottom-spacing {
    padding-bottom: 10%;
}

.it-takes-two-container {
    height: 950px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.it-takes-two-background {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}